*.cmx
*.cmi
*.cmxa
*.a
*.o
*.so*
*.cmo
*.annot
.*.swp
*.run
parser.ml
parser.mli
lexer.ml
.depend
Makefile.config
compiler/limlc
limlc
limlc.bc
a.out
compiler/limlc.bc
compiler/liml
stdlib/config.h
*~
stdlib/libliml.lmli
\#*
parser.output
TODO
*.s
*.bc
genGlobals.ml